.itemListContainer {
    display: flex;
    gap: 1.81rem;
    flex-wrap: wrap;
    width: 40rem;
    height: 100%;
    padding-top: 10rem;

    @media (max-width: 768px) {
        width: 100%;
    }
}