.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;

    &.containerFillSpace {
        flex: 1;
    }
}

.downloadVideoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
}

.buttonWraper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}



.gap {
    gap: 2.75rem;
}

.itemListContainer {
    display: flex;
    gap: 1.81rem;
    flex-wrap: wrap;
    justify-content: center;
    width: 40rem;
    height: 100%;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.isWide {
    width: 50rem;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.noSpaceHeading {
    margin: 0;
    padding: 0;
}
